<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{98,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b732f7e2375c730c77d2a706d061c3a0:d5c05d3f91d100e9c17b4770b80bbb82:5af5b3fbab807b4ca11b45d111eeecdf$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
